# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.setting
.cache

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.log
.settings/org.eclipse.wst.validation.prefs
.settings/org.scala-ide.sdt.core.prefs
.sbtserver/connections/play-fork-run-4fc02bb0-d1eb-4c39-ad17-b84be3985c73.log.01
.settings/org.eclipse.wst.xsl.core.prefs
*.prefs
.settings/org.scala-ide.sdt.core.prefs
*.prefs
RUNNING_PID
