@(msg: String, breadcrumb: Map[String, String], prods: List[models.Product])

@main(msg, breadcrumb) {
	
	<div class="container">
		<div class="row ">
		@if(flash.containsKey("error")) {
			<div class="alert alert-error col-6">
				@flash.get("error")
			</div>
		}
	
		@if(flash.containsKey("success")) {
			<div class="alert alert-success col-6">
				@flash.get("success")
			</div>
		}
		</div>
		<div class="row">
			<div class="col-md-3 pull-left">
				<form action="@controllers.contact.routes.ContactManager.news()" name="frmNews">
					<fieldset>
						<input autocomplete="off" placeholder="News Letter" id="news" name="news" type="text" onblur="IsEmail(document.getElementById('news').value)"  maxlength="60" size='65'
						data-toggle="tooltip" data-placement="bottom" title="Deixe o Seu Email">
							<button type="submit" id="buttonNews" class="btn btn-primary" autocomplete="off" disabled="true">
								<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
							</button>
						</input>
						<div id="msgemail"></div>
					</fieldset>
				</form>
			</div>
			<div class="col-md-3 pull-right">
				<form action="@controllers.category.routes.CategoryManager.findProducts()" name="frmSearch">
					<fieldset>
						<input autocomplete="off" placeholder="Buscar" id="search" name="search" type="text" data-toggle="tooltip" data-placement="bottom" title="Pesquise nossos produto">
							<button type="submit" id="myButton" class="btn btn-primary" autocomplete="off">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</button>
						</input>
					</fieldset>
				</form>
			</div>
		</div>
	<div class="col-md-10">
		<h1>Seja bem vindo!</h1>
		<p>A nossa missão está em oferecer um produto com alta qualidade, baseado na criatividade dos nossos familiares.Nosso material é de 
		otima qualidade e todos os doces feitos artesanalmente. Por sermos fabricantes, entendemos que o nosso sucesso está alicerçado na 
		satisfação dos nossos clientes, e assim podemos elaborar e personalizar o seu produto.</p>
	</div>

	<div class="row">
		<div class="col-xs-9 col-sm-4 col-md-4">
			<section class="slider">
				<h2>Destaques.</h2>
              <nav class="slide-nav">
                <ul>
              @for(prod <- prods){
                	<li>
                		<a href="#">@prod.getId()</a>
                	</li>
              }
                </ul>
              </nav>
              <ul class="slides">
              @for(prod <- prods){
                <li><a href="@controllers.category.routes.CategoryManager.product(prod.getId())"><img src="@prod.getImageSmallUrl" alt="@prod.getName" class="img-rounded"></a></li> 
              }
              </ul>
            </section>
		</div>
		<div class="col-md-4">
			<h2>Produtos</h2>
			<p><img src="@routes.Assets.at("images/icons/cake_1.png")" style="float: left;" class="img-rounded"/>Os ingredientes utilizados na fabricação de nossos 
			produtos são escolhidos a dedo para proporcionar a melhor qualidade possivel a 
			nossos clientes. Nossos carros chefes são Bolos, Tortas e Cupcakes, experimente e tente resistir!</p>
			
		</div>
		<div class="col-md-4">
			<h2>Clientes</h2>
			<p><img src="@routes.Assets.at("images/icons/customer.png")" style="float: left;" class="img-rounded"/>Nossos clientes e Amigos são nossa inspiração, 
			essa é a fórmula de sucesso e qualidade de nossos produtos. Com a sua imaginação e nossa criatividade, juntos, podemos realizar e criar coisas incriveis!</p>
			
		</div>
	</div>

	<hr>
		<div class="row" style="margin-bottom: 100px;">
			<div class="col-md-12">
				<h2>Dicas</h2>
				<p>Veja nossas dicas de culinária.</p>
				<p>
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					  Dicas de Culinária
					</button>
				</p>
			</div>
		</div>
		
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h3 class="modal-title" id="myModalLabel">Ainda não</h3>
	      </div>
	      <div class="modal-body">
	        	<p>Nossa seção de dicas de culinária está sendo desenvolvida, em breve você terá em mãos diversas informações que lhe ajudaram  em sua cozinha.</p>
	        	<p>Fique atento, em alguns dias estaremos estaremos entrando em contato com os inscritos de nossa <b>News Letter<b>.</p>
	        	<cite>Nilda - Doce & Tentação</cite>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>


}