@(title: String, breadcrumb: Map[String, String])(content: Html)

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap-theme.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/main.css")">

        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">
        <script src="@routes.Assets.at("js/vendor/modernizr-2.6.2-respond-1.1.0.min.js")"></script>
        
        <!-- ****** favicons do faviconit.com ****** -->
		<link rel="shortcut icon" href="@routes.Assets.at("images/icons/favicon.ico")">
		<link rel="icon" sizes="16x16 32x32 64x64" href="@routes.Assets.at("images/icons/favicon.ico")">
		<link rel="icon" type="image/png" sizes="196x196" href="@routes.Assets.at("images/icons/favicon-192.png")">	
		<link rel="icon" type="image/png" sizes="160x160" href="@routes.Assets.at("images/icons/favicon-160.png")">	
		<link rel="icon" type="image/png" sizes="96x96" href="@routes.Assets.at("images/icons/favicon-96.png")">
		<link rel="icon" type="image/png" sizes="64x64" href="@routes.Assets.at("images/icons/favicon-64.png")">
		<link rel="icon" type="image/png" sizes="32x32" href="@routes.Assets.at("images/icons/favicon-32.png")">
		<link rel="icon" type="image/png" sizes="16x16" href="@routes.Assets.at("images/icons/favicon-16.png")">
		<link rel="apple-touch-icon" href="@routes.Assets.at("images/icons/favicon-57.png")">
		<link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.at("images/icons/favicon-114.png")">
		<link rel="apple-touch-icon" sizes="72x72" href="@routes.Assets.at("images/icons/favicon-72.png")">
		<link rel="apple-touch-icon" sizes="144x144" href="@routes.Assets.at("images/icons/favicon-144.png")">
		<link rel="apple-touch-icon" sizes="60x60" href="@routes.Assets.at("images/icons/favicon-60.png")">
		<link rel="apple-touch-icon" sizes="120x120" href="@routes.Assets.at("images/icons/favicon-120.png")">
		<link rel="apple-touch-icon" sizes="76x76" href="@routes.Assets.at("images/icons/favicon-76.png")">
		<link rel="apple-touch-icon" sizes="152x152" href="@routes.Assets.at("images/icons/favicon-152.png")">
		<link rel="apple-touch-icon" sizes="180x180" href="@routes.Assets.at("images/icons/favicon-180.png")">
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="images/icons/favicon-144.png">
		<meta name="msapplication-config" content="images/icons/browserconfig.xml">
		<!-- ****** favicons do faviconit.com ****** -->
        
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
        
        <nav class="navbar navbar-inverse navbar-top" role="navigation" id="menu-top">
			<div class="navbar-header  navbar-center">
				<button type="button" class="navbar-toggle collapsed" style="z-index: 99"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
					<span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<div class="container">
				<div class="row">
				<div class="col-md-4 hidden-xs hidden-sm" id="title"><h1>Nilda - Doce Tentação</h1></div>
				<div class="col-md-4"><a href="/"><img src="@routes.Assets.at("images/icons/logo_bolos.png")" class="img-responsive center-block img-rounded"></a></div>
				<div class="col-md-4">
<!-- 					<a href="https://www.facebook.com/nildadocetentacao" target="blanck"><img src="@routes.Assets.at("images/icons/face.png")"></a> -->
<!-- 					<a href="https://twitter.com/Nilda_Doce" target="blanck"><img src="@routes.Assets.at("images/icons/twitter.png")"></a> -->
<!-- 					<a href="http://instagram.com/nildadocetentacao/" target="blanck"><img src="@routes.Assets.at("images/icons/insta.png")"></a> -->
				</div>
				</div>
				</div>
				<div id="navbar" class="navbar-collapse collapse ">
					<ul class="nav navbar-nav">
						<li><a href="@controllers.routes.Application.index()">Home</a></li>
						<li><a href="@controllers.category.routes.CategoryManager.list()">Produtos</a></li>
						<li><a href="@controllers.category.routes.CategoryManager.gallery()">Galeria</a></li>
						<li><a href="@controllers.contact.routes.ContactManager.create()">Contato</a></li>
						<li><a href="@controllers.contact.routes.ContactManager.learnMore()">Saiba Mais</a></li>
					</ul>
				</div>
			</div>
			
		</nav>
		<div class="container">
			<ol class="breadcrumb" id="content">
				@for((key, value) <- breadcrumb) {
					<li><a href="@value">@key</a></li>
				}
			  
			</ol>
		</div>
		
        @content
        
        <footer class="navbar navbar-inverse navbar-fixed-bottom" role="navigation" id="contact">
	        <div class="container">
	        <div class="row">
	        <div class="col-md-4 col-xs-6">
	        <address id="address">
	        	<h5>Contato</h5>
	        	<p><abbr title="Telefone">Tel:</abbr> (16) 3413-1310<br></p>
	        	<p><abbr title="Celular 1">Tel:</abbr> (16) 98156-2280<br></p>
	        	<p><abbr title="Celular 2">Tel:</abbr> (16) 98123-4413<br></p>
	        	<p>E-mail.: <a href="mailto:nilda.docetentacao@@gmail.com">nilda.docetentacao@@gmail.com</a></p>
	        </address>
	        </div>
	        <div class="col-md-4 hidden-xs hidden-sm">
	        	<h5>Horário</h5>
				<p>Seg –&nbsp;Sex&nbsp; 8h00 - 19h00</p>
				<p>Sab&nbsp; 9h00 - 15h00</p>
	        </div>
	        
	        <div class="col-md-4 col-xs-6" id="social">
	        	<a href="https://www.facebook.com/nildadocetentacao" target="blanck"><img src="@routes.Assets.at("images/icons/face.png")"></a>
				<a href="https://twitter.com/Nilda_Doce" target="blanck"><img src="@routes.Assets.at("images/icons/twitter.png")"></a>
				<a href="http://instagram.com/nildadocetentacao/" target="blanck"><img src="@routes.Assets.at("images/icons/insta.png")"></a>
				<br />
				<div class="fb-like" data-href="https://www.facebook.com/nildadocetentacao" 
					data-layout="button_count" data-action="like" data-show-faces="true" data-share="true">
				</div>
			</div>
			<div class="col-md-4 col-xs-6" id="cop">
				<br>
				<p>&copy; 2010<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>, <a href="http://www.guildacode.com" target="_blank">GuildaCode</a>.</p>				
			</div>
			</div>
		</footer>



        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

        <script src="@routes.Assets.at("js/vendor/bootstrap.min.js")"></script>

        <script src="@routes.Assets.at("js/main.js")"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
